*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{ 
    --pink: hsl(322, 100%, 66%);
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --poppins-400: 'Poppins', sans-serif;
    --open-sans-400-700: 'Open Sans', sans-serif;
}


html{
    width: 100%;
    margin: auto;
    min-height: 100vh;
}
img{
    width: 100%;

}
a{
    text-decoration: none;
}
.one{
    background-color: var(--very-pale-cyan);
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em;
    align-items: center;
}

.header img{
    width: 40%;
    height: auto;
    object-fit: contain;
}
.header a{

    text-decoration: none;
    background-color: white;
    padding: .5em 1.3em;
    border-radius: 50px;
    color: black;
    font-family: var(--poppins-400);
    font-size: 12px;
    filter: drop-shadow(0 .3em .2em rgba(0, 0, 0, 0.13));
    text-align: center;
}

.one-content{
    text-align: center;
    padding: 2em 2em;
}
h1{
    font-family: var(--poppins-400);
}
p{
    font-family: var(--open-sans-400-700);
    font-weight: 400;
    line-height: 1.5em;
}
.one-content p{
    margin: 2em 0;
}
.one-content a{
    color: white;
    background-color: var(--pink);
    font-family: var(--open-sans-400-700);
    font-weight: 700;
    padding: 1em 5em;
    border-radius: 50px;
    font-size: 12px;


}
.one-content img{
    margin-top: 4.5em;

}

/*section two, three, four, five*/

.content{
    background-color: white;
    margin: 2em 1.5em;
    filter: drop-shadow(0 .2em .3em rgba(0, 0, 0, 0.164));
    padding: 2em;
    text-align: center;
    border-radius: 15px;
}
.content h1{
    margin-top: 2em;
    margin-bottom: .5em;
}
.content p{
    color: var(--grayish-blue);

}
.content img{
    width: 80%;
}

/*section five, six*/
.six{
  background-color: var(--very-dark-cyan);
  padding: 1.5em;
}
.logo {
    filter: grayscale(1) brightness(10.5);
    width: 40%;
}
.info{
    display: flex;
    color: rgba(255, 255, 255, 0.705);
    font-family: var(--open-sans-400-700);
    font-weight: 400;
    align-items: center;
    justify-content: start;
    margin-top: 1.5em;

}

.info1{
    align-items: flex-start;
}
.info img{
    width: 5%;
    height: auto;
    object-fit: contain;
}
.info p{
    margin-left: 1em;
}

.pages {
    display: flex;
    flex-direction: column;
    line-height: 2.5em;
    background-color: var(--very-dark-cyan);
    font-family: var(--open-sans-400-700);
    margin-top: 2em;

    
}
.pages a{
    color: rgba(255, 255, 255, 0.705);
}

.icons{
    display: flex;
    justify-content: center;
}

.icons ion-icon{
    color:rgba(255, 255, 255, 0.705);
    border: .2px solid rgba(255, 255, 255, 0.705);
    padding: .4em;
    border-radius: 50px;
    margin: .3em;
}

.copyright{
    color: rgba(255, 255, 255, 0.705);
    font-size: 12px;
    text-align: center;
    font-family: var(--open-sans-400-700);
    font-weight: 400;
    margin-top: 2em;
}

.six1{
    margin-top: 5em;
}

.five h1{
    margin:0;
    font-size: 16px;
    margin-bottom: 2em;

}
.five a{
    color: white;
    background-color: var(--pink);
    font-family: var(--open-sans-400-700);
    font-weight: 700;
    padding: 1em 4em;
    border-radius: 50px;
    font-size: 12px;
}

.five{
    padding: 2em 0;
    position: relative;
    margin-bottom: -3em;
}

.attribution{
    margin-top: 2em;
    color: rgba(255, 255, 255, 0.705);
}

.attribution a{
    color: pink;
}

@media screen and (min-width: 992px){


    .header{
        padding: 4em 4em;
    }

    .header img{
        width: 20%;
    }
    .header a{
        padding: 1em 3em;
        font-size: 16px;
    }

    .one-content{
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .one-content img{
        width: 50%;
    }

    .one-text{
        text-align: start;
        padding-right: 4em;
    }
    .one-content h1{
        font-size: 42px;
    }
    .one-content p{
        font-size: 18px;
    }
    /* sections 2,3,4 -- named contents*/
    .contents{
        margin: 5em;
    }
    .content{
        /*display: flex;*/
        padding:3em 1em 3em 5em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: none;
        gap: 0em;
        justify-items: start;

    }
    
    .content img{
        width: 80%;

    }
    .content .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        padding: 0em 3em;
    }
    .content h1{
        font-size: 30px;
        margin-top: 0em;
       
    }
    .two img{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
    }
   
    .four img{
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
    }

    /*section 5*/
    .five{
        max-width: max-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 3em 5em;
        margin-bottom: -5em;
    }
    .five h1{
        margin-bottom: 1em;
    }
    .five a{
        padding: 1.5em 8em;
        max-width: fit-content;
        margin: auto;
    }

    .six1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 3em;
    }
    .pages{
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 3em;
        margin-left: 4em;

    }
    .six .icons{
        grid-column: 3/4;
        margin-top: 2em;

    }
    ion-icon:hover{
        color: var(--pink);
        border-color: var(--pink);
    }

    .copyright{
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .attribution{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .attribution a:hover{
          color:var(--pink);
    }
    .five a:hover{
        background-color: hsl(322, 89%, 74%);
    }
    .one-content a:hover{
        background-color: hsl(322, 89%, 74%);
    }
    .header a:hover{
        color: rgba(0, 0, 0, 0.562);
    }

}